body {
	margin: 16px auto;
	width: 650px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
	margin: 1em 0 0 0;
	font-weight: semibold;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

ul.index-toc h2 {
	margin-top: 0.2em;
}

p {
	line-height: 1.6;
}


code {
	font-family: Monospace;
	background-color: #ccf9ff;
	border: 1px solid #00BCD4;
	border-radius: 2px;
	padding: 1px 7px;
}

pre > code {
	margin: 1em 0;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 2px solid #00BCD4;
	display: block;
	padding: 10px;
}

footer {
	color: #555;
	text-align: center;
	border-top: 1px solid #EFEFEF;
}
