body {
	margin: 16px auto;
	width: 650px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
	margin: 1em 0 0 0;
	font-weight: semibold;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

ol.index-toc, ul.search-results {
	list-style-type: none;
	padding-left: 0;
}

ol.index-toc li, ul.search-results li {
	margin-top: 0.2em;
}

header.index-heading {
	text-align: center;
	padding: 5em 0 1.5em 0;
}

header.page-heading {
	position: relative;
}

header.page-heading > a {
	position: absolute;
	font-size: 24px;
	font-family: 'Merriweather', serif;
	margin: 0;
	top: 0;
	right: 0;
}

p {
	line-height: 1.6;
}

a {
	color: #00BCD4;
	text-decoration: none;
}

a:hover {
	color: #00BCD4;
	text-decoration: underline;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
	color: black;
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	border-bottom: 1px solid #00BCD4;
}

td {
	border-bottom: 1px solid #EFEFEF;
}

th, td {
	padding: 10px 0;
	text-align: left;
}

code {
	border: 1px solid #00BCD4;
}

code, pre {
	font-family: Monospace;
	background-color: #ccf9ff;
	border-radius: 2px;
	padding: 1px 7px;
}

pre > code {
	border: none;
}

pre {
	margin: 1em 0;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 2px solid #00BCD4;
	display: block;
	overflow: auto;
	padding: 10px;
}

footer {
	color: #555;
	text-align: center;
	border-top: 1px solid #EFEFEF;
}

#docket-search form {
	text-align: center;
	margin: 15px auto;
}

#docket-search form #query {
	padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 80%;
}

#docket-search form button {
	padding: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}