:root {
	/* Colourschemes */

	/* Sharp - Pinktacular accents */
	--col-accent: #ee0b74;
	--col-dark: #020202;
	--col-dark-dimmed: #262826;
	--col-light-dimmed: #e9e9e9;
	--col-light: #fbfbfb;

	--col-bg: var(--col-light);
	--col-bg-dimmed: var(--col-light-dimmed);
	--col-fg: var(--col-dark);
	--col-fg-dimmed: var(--col-dark-dimmed);

	/* FONTS */
	--fnt-base-size: 16px;
	--fnt-base-lineheight: 1.75;
	--fnt-family-body: 'Montserrat', sans-serif;

	/* SIZES */
	--sz-header-height: 45px;

	color-scheme: light;
	accent-color: var(--col-accent);
}

/* Apply a dark color scheme */
@media (prefers-color-scheme: dark) {
	:root {
		--col-bg: var(--col-dark);
		--col-bg-dimmed: var(--col-dark-dimmed);
		--col-fg: var(--col-light);
		--col-fg-dimmed: var(--col-light-dimmed);

		color-scheme: dark;
	}
}

.content {
	margin: 0 auto;
	padding: 0 0.5rem;
}

* {
	box-sizing: border-box;
}

/* Tablets */
@media screen and (min-width: 500px) {
	:root {
		--fnt-base-size: 17px;
	}

	.doc-grid {
		display: grid;
		grid-template-areas: "sidebar content toc";
		grid-template-columns: minmax(0, 1.5fr) minmax(0, 2fr) minmax(0, 1fr);
		gap: 1.2rem;
	}

	.doc-grid .site-nav {
		grid-area: sidebar;
	}

	.doc-grid .toc-tree {
		grid-area: toc;
	}

	.doc-grid .site-nav,
	.doc-grid .toc-tree {
		max-height: calc(100vh - var(--sz-header-height));
		position: sticky;
		top: 15px;
		overflow-y: auto;
	}

	.doc-grid main {
		grid-area: content;
	}
}

/* Desktop */
@media screen and (min-width: 980px) {
	:root {
		--fnt-base-size: 18px;
	}

	.content {
		max-width: 1280px;
	}

	.doc-grid {
		grid-template-columns: minmax(0, 1.2fr) minmax(0, 3fr) minmax(0, 1fr);
	}
}

body {
	background-color: var(--col-bg);
	color: var(--col-fg);
	margin: 0;
	padding: 0;
	font-size: var(--fnt-base-size);
	line-height: var(--fnt-base-lineheight);
	font-family: var(--fnt-family-body);
	text-rendering: optimizeSpeed;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body>section.doc-grid {
	flex-grow: 1;
}

/* ------------------------- HEADER AND BREADCRUMBS --------------------------*/

header.site-head {
	border-bottom: 1px solid var(--col-bg-dimmed);
}

.breadcrumbs {
	height: var(--sz-header-height);
	display: flex;
	align-items: center;
	flex-direction: row;
}

.breadcrumbs ol {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center baseline;
	margin: 0;
	padding: 0;
}

.breadcrumbs ol li::after {
	content: "/";
	margin: 0 10px;
}

.breadcrumbs ol :first-child a {
	font-size: 1.1rem;
	font-weight: bold;
}

/* ------------------------------- TOC TREES ---------------------------------*/

/* in the sidebar */
.site-nav ul,
.toc-tree ul {
	list-style-type: none;
	padding: 0;
}

.site-nav ul ul {
	padding-left: 1rem;
}

.toc-tree ul li li {
	margin-left: 1rem;
}

.toc-tree li a {
	display: block;
	padding: 0.3rem 1rem;
	border-left: 3px solid var(--col-bg-dimmed);
	color: var(--col-fg-dimmed);
}

.toc-tree li a:hover {
	border-color: var(--col-accent);
	color: var(--col-accent);
}

/* general TOC */

ul.toc {
	list-style-type: none;
	padding: 0;
}

ul.toc ul.toc {
	padding-left: 1.5rem;
}

/* ------------------------------ MAIN ARTICLE -------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0 0 0;
	font-weight: bold;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.2rem;
}

h3 {
	font-size: 1.1rem;
}

h4,
h5,
h6 {
	font-size: 0.8rem;
}

img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

a {
	color: var(--col-accent);
	text-decoration: none;
}

a:hover {
	color: var(--col-accent);
	text-decoration: underline;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: var(--col-fg);
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	border-bottom: 1px solid var(--col-fg-dimmed);
}

td {
	border-bottom: 1px solid var(--col-bg-dimmed);
}

th,
td {
	padding: 10px 0;
	text-align: left;
}

blockquote {
	padding: 0 0.5rem;
	margin: 0 -0.5rem;
	border-left: 3px solid var(--col-fg-dimmed);
	font-style: italic;
}

ul,
ol {
	padding: 0;
}

/* ---------------------- SYNTAX HIGHLIGHING & CODEBLOCKS --------------------*/

code,
pre {
	font-family: Monospace;
	background-color: var(--col-bg-dimmed);
	border-radius: 2px;
}

code {
	padding: 1px 7px;
}

pre {
	margin: 1em 0;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 2px solid var(--col-accent);
	border-bottom: 1px solid var(--col-bg-dimmed);
	border-right: 1px solid var(--col-bg-dimmed);
	display: block;
	overflow: auto;
	padding: 10px;
}

/* --------------------------------- FOOTER ----------------------------------*/

footer {
	margin-top: 1.5rem;
	color: var(--col-fg-dimmed);
	border-top: 1px solid var(--col-bg-dimmed);
}

footer .content {
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	flex-direction: row;
	align-items: baseline;
}

/* If there is only one item, center things */
footer .content> :only-child {
	text-align: center;
}

footer .content>* {
	flex-grow: 1;
}

footer .content li {
	list-style-type: none;
}

/* --------------------------------- SEARCH ----------------------------------*/

/* #docket-search form {
	text-align: center;
	margin: 15px auto;
	border: 1px solid var(--col-fg);
	border-radius: 4px;
	display: flex;
	flex-direction: row;
}

#docket-search form #query,
#docket-search form button {
	padding: 5px;
	background: none;
	color: var(--col-fg);
	border: none;
	flex-grow: 0;
	flex-shrink: 1;
}

#docket-search form #query {
	min-width: 100px;
	flex-grow: 1;
}

#docket-search form button {
	font-weight: bold;
} */