:root {
	/* Colourschemes */

	/* Clemantine - bright and zesty */
	/* --col-accent: #ff7315;
	--col-dark: #232020;
	--col-dark-dimmed: #3a3535;
	--col-light-dimmed: #f4f4f4;
	--col-light: #fff; */

	/* Sharp - Pinktacular accents */
	--col-accent: #e45597;
	--col-dark: #020202;
	--col-dark-dimmed: #262826;
	--col-light-dimmed: #e9e9e9;
	--col-light: #fbfbfb;

	--col-bg: var(--col-light);
	--col-bg-dimmed: var(--col-light-dimmed);
	--col-fg: var(--col-dark);
	--col-fg-dimmed: var(--col-dark-dimmed);

	/* FONTS */
	--fnt-base-size: 12px;
	--fnt-base-lineheight: 1.75;
	--fnt-family-body: 'Montserrat', sans-serif;
}

/* Apply a dark color scheme */
@media (prefers-color-scheme: dark) {
	:root {
		--col-bg: var(--col-dark);
		--col-bg-dimmed: var(--col-dark-dimmed);
		--col-fg: var(--col-light);
		--col-fg-dimmed: var(--col-light-dimmed);
	}
}

body {
	background-color: var(--col-bg);
	color: var(--col-fg);
	margin: 0;
	padding: 0 1rem;
	margin: 0 auto;
	font-size: var(--fnt-base-size);
    font-family: var(--fnt-family-body);
	text-rendering: optimizeSpeed;
	height: 100vh;
}

/* Tablets */
@media screen and (min-width: 500px) {
	:root {
		--fnt-base-size: 14px;
	}

	body {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
	}

	body main {
		/* overflow-y: auto; */
		min-height: 100vh;
	}	

	body nav.side-nav {
		position: sticky;
		top: 0;
		overflow-y: auto;
	}
}

/* Desktop */
@media screen and (min-width: 980px) {
	:root {
		--fnt-base-size: 16px;
	}

	body {
		max-width: 1280px;
		grid-template-columns: minmax(0, 1fr) minmax(0, 3.5fr);
	}
}

body nav.side-nav {
	/* background-color: var(--col-bg-dimmed); */
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
}

body main {
	padding: 0 20px;
	width: 100%;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0 0 0;
	font-weight: semibold;
}

h1 {
	font-size: calc(3 * var(--fnt-base-size));
}

h2 {
	font-size: calc(2.25 * var(--fnt-base-size));
}

h3 {
	font-size: calc(1.75 * var(--fnt-base-size));
}

h4 {
	font-size: calc(1.5 * var(--fnt-base-size));
}

ol.index-toc,
ul.search-results {
	list-style-type: none;
	padding-left: 0;
}

ol.index-toc li,
ul.search-results li {
	margin-top: 0.2em;
}

header.index-heading {
	text-align: center;
	padding: 5em 0 1.5em 0;
}

header.page-heading {
	position: relative;
}

header.page-heading > a {
	position: absolute;
	font-size: calc(1.75 * var(--fnt-base-size));
	text-transform: uppercase;
	margin: 0;
	top: 0;
	right: 0;
}

p {
	line-height: var(--fnt-base-lineheight);
}

a {
	color: var(--col-accent);
	text-decoration: none;
}

a:hover {
	color: var(--col-accent);
	text-decoration: underline;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: var(--col-fg);
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	border-bottom: 1px solid var(--col-fg-dimmed);
}

td {
	border-bottom: 1px solid var(--col-bg-dimmed);
}

th,
td {
	padding: 10px 0;
	text-align: left;
}

/* -----------------------SYNTAX HIGHLIGHING & CODEBLOCKS---------------------*/

code,
pre {
	font-family: Monospace;
	background-color: var(--col-bg-dimmed);
	border-radius: 2px;
	padding: 1px 7px;
}

pre {
	margin: 1em 0;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: 2px solid var(--col-accent);
	border-bottom: 1px solid var(--col-bg-dimmed);
	border-right: 1px solid var(--col-bg-dimmed);
	display: block;
	overflow: auto;
	padding: 10px;
}

/* --------------------------------- FOOTER ----------------------------------*/

footer {
	color: var(--col-fg-dimmed);
	text-align: center;
	border-top: 1px solid var(--col-bg-dimmed);
	padding: 20px;
}

/* --------------------------------- SEARCH ----------------------------------*/

/* #docket-search form {
	text-align: center;
	margin: 15px auto;
	border: 1px solid var(--col-fg);
	border-radius: 4px;
	display: flex;
	flex-direction: row;
}

#docket-search form #query,
#docket-search form button {
	padding: 5px;
	background: none;
	color: var(--col-fg);
	border: none;
	flex-grow: 0;
	flex-shrink: 1;
}

#docket-search form #query {
	min-width: 100px;
	flex-grow: 1;
}

#docket-search form button {
	font-weight: bold;
} */
